
<div id="write_post">
    <form class="round_border" action="/api/post" method="post">
        <input type="hidden"  name="user"   value="erbert_" invisible>
        <input type="text"    name="title" placeholder="title" required>
        <textarea             name="body"  cols="30" rows="10" placeholder="Escreva aqui..." required></textarea>
        <div>
            <input type="text" name="img_url"  placeholder="image url (opcional)">
            <input type="text" name="tags" placeholder="tags (opcional)">
        </div>
        <button type="submit" class="btn btn-primary">Postar</button>
    </form>
</div>
