<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aniforum</title>
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="icon" href="image/logo/wo_border.svg">


</head>

<body>
    <nav id="topbar" class="box_shadow">
        <a id="logo" href="/">
            <img src="../../image/logo/wo_border.svg" alt="logo">
            <span>aniforum</span>
        </a>
        <input id="search_bar" type="text" placeholder="pesquisar" value=""/>
        <div>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        </div>
    </nav>

    <a id="go_up" class="box_shadow" href="#top"> Ir para o topo! </a>

    <div div="top" class="space"></div>

