<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discuversa</title>
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="icon" href="image/logo/wt_border.svg">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />




</head>

<body>
    <nav id="topbar" class="box_shadow">
        <a id="logo" href="/">
            <img src="../../image/logo/wt_border.svg" alt="logo">
            <span>discuversa</span>
        </a>
        <form id="search_bar" action="/search" method="get">
            <input type="text" id="tags" name="tags" placeholder="pesquisar" value="" required/>
            <div>
                <button id="reset"  type="reset">&#10006;</button>
                <button id="submit" type="submit">
                    <i class="material-icons">search</i>
                </button>
            </div>
        </form>
        <div id="header_side_options">
            <form>
                <input type="checkbox" id="myCheckbox">
                <label for="myCheckbox" id="checkmark" class="material-symbols-outlined">
                    menu
                </label>
            </form>
            

            <div id="header_options">
                <% if(!user){ %>
                    <a href="/login"><p>Login</p></a>
                    <a href="/register"><p>Register</p></a>
                <% } else {%>
                    <a href="/user/<%= user.login %>"><p><%= user.login %></p></a>
                    <a href="/logout"><p>sair</p></a>
                <% } %>
            </div>
        </div>
    </nav>

    <a id="go_up" class="box_shadow" href="#top"> Ir para o topo! </a>

    <div div="top" class="space"></div>
    <div id="content">



    
