<%- include('header'); %>

<div id="content" >
    
    <form class="form_login maxw_800 round_border" action="/login" method="post">
        <label for="login">login</label>
        <input type="text" name="login" id="login" placeholder="Username" minlength="1" maxlength="15">
        <br>
        <label for="password">senha</label>
        <input type="password" name="password" id="password" placeholder="Password"  minlength="4" maxlength="20">
        <br>
        <input id="submit_button" type="submit" value="Login">
        <a href="/register">register</a>
    </form>

</div>

<%- include('footer'); %>